/* Values from Bootstrap */
$mobile: 750px;
$tablet: 970px;
$desktop: 1170px;

/* Color Variables */
$bg-color: #eee;
$heading-color: #333;
$text-color: #383838;
$red: #c61f1f;
$green: #39b54a;
$orange: #f68e56;
$panicRed : #e11f1f;
$outline: rgba(245, 22, 62, 0.87);

@mixin score-first-child{
  background-color: $outline;
  font-weight: bold;
  padding-left: 5px;
}

/* Generate .color and .color-text for each color in the list */
$colors: (
  'pink' #FC2768,
  'blue' #5674b9,
  'green' $green,
  'red' $red,
  'orange' $orange
);

@each $value in $colors {
  .#{nth($value, 1)}{background-color: nth($value, 2);}
  .#{nth($value, 1)}-text{color: nth($value, 2);}
}

$avatars: 'fish' 'bird' 'snail' 'cat';

@each $item in $avatars {
    .#{$item}{
        background-image: url("../avatars/#{$item}.svg");
    }
}
/* Styling */
body{
    background: $bg-color;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
    @media(max-width: $tablet){
      font-size: 12px;
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    color: $heading-color;
    margin: 0;
}

h1{
    font-size: 4em;
    margin-top: 50px;
}

h3{
    margin-bottom: 20px;
}

h4{
  font-size: 3em;
  margin-bottom: 10px;
}

p{
    color: $text-color;
}

a{
  text-decoration: none;
}

.main{
    padding: 15px 0;
    @media(min-width:$tablet){padding: 50px 0;}}


.players{
    margin-top:50px;
}

.not-ready{
    opacity: 0.3;
}

.player{
    display:inline-block;
}

.circle{
    width:70px;
    height:70px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    display: inline-block;
    margin: 0 12px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center center;
}

.small-circle{
    width:30px;
    height:30px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    display: inline-block;
    margin: 0 12px;
    position: relative;
}

.answers{
    position: absolute;
    z-index: 2;
    top: 4px;
    left: 256px;
    width: 100%;
    .answer-circle{
        width:30px;
        height:30px;
        border-radius:50%;
        font-size:20px;
        text-align:center;
        display: inline-block;
        margin: 0 4px;
        top: 4px;
    }
}

.big-circle{
  @media(min-width:$tablet){display:block}
    display: none;
    width:150px;
    height:150px;
    border-radius:50%;
    font-size:20px;
    text-align:center;
    background: #005b7f;
    position: absolute;
    right: 2%;
    top: 2%;
    color: white;
    -ms-transform: rotate(32deg); /* IE 9 */
    -webkit-transform: rotate(32deg); /* Chrome, Safari, Opera */
    transform: rotate(32deg);
    cursor: pointer;
    p{
        color: white;
        width: 74px;
        padding-top: 46px;
        padding-left: 36px;
    }
}

.options{
    position: relative;
}

li{
    position: relative;
    list-style: none;
    width: 250px;
    margin: 0 auto;
    text-align: left;
    button{
        position: relative;
        width: 100%;
    }

    button.wrong:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.3);
        transition: all 1s;
        -webkit-transition: all 1s;
        z-index: 100;
    }

    button.wrong:hover, button.correct:hover{
        color: white;
    }

    &:first-child button{
       background-color: $green;
    }

    &:nth-child(2) button{
        background-color: #00a99d;
    }
    &:nth-child(3) button{
        background-color: #f26d7d;
    }
    &:nth-child(4) button{
        background-color: $orange;
    }
    button{
        color: white;
        font-size: 20px;
        &.play-again{
          a{
            color: white;
          }
          margin-top: 10em;
          background-color: $outline;
          border: 2px solid $text-color;
      }
      &.play-again-mobile{
        a{
          color: white;
        }
        background-color: $outline;
        border: 2px solid $text-color;
        margin-top: 5em;
      }
    }
}

.mobile{
    font-size: 2em;
  button, input{
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  li button{
      width: 100%;
  }
}
.start{
    width: 85%;
    margin: 0 auto;
}
.ready-button{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  padding: 50% 0;
  border-radius: 50%;
  color: white;
  background: $red;
  font-size: 2.7em;
  font-weight: bold;
  border: 2px solid darken($red, 5);
  &:active, &.active{
    background-color: darken($red, 5);
    border: 2px solid darken($red, 10);
  }
  p{
    margin-top:30%;
    color: white;
  }
}
h4{
  font-size: 3em;
  margin-bottom: 10px;
}
h5{
  margin: 15px 15px;
  font-size: 3em;
  text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline;
}

.timer-red{
  color: $panicRed;
}

.game-over{
    width: 75%;
    padding-left: 50px;
    //padding-right: 50px;
    margin: auto;
    max-width: 960px;
}

.game-over-rank,
.game-over-name,
.game-over-score{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.game-over-rank{
  float: left;
  width: 30%;
  margin: 2px;
  li {
    &:first-child {
      @include score-first-child
    }
  }
}
.game-over-name{
  float: left;
  width: 30%;
  margin: 2px;
  li {
    &:first-child {
      @include score-first-child
    }
  }
}
.game-over-score{
  float: left;
  width: 30%;
  margin: 2px;
  li {
    &:first-child {
      @include score-first-child
    }
  }

}
.group:after{
  content:"";
  display: table;
  clear: both;
}


.overlay{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}
.how-to-play{
    border: 13px solid#033D54;
    border-radius: 35px;
    height: 20%;
    z-index: 200;
    width: 40%;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    left: 31%;
    top: 25%;
    background-color: #EAEAEA;
    color: #5E4F4F;
    span{
        float: right;
        margin-right: 13px;
        font-weight: bold;
        cursor: pointer;
        color: #B3B3B3;
    }
    span:hover{
        color: #5E4F4F;
        transition: color 1s;
    }
}
